#tweet-text {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  overflow-wrap: break-word;
  word-break: break-all;
  background-color: transparent;
}

/*Question prompt = bold*/
label{
  font-weight: bold;
}

/*tweet button <- space -> number value*/
.tweetalign{
  display: flex;
  justify-content: space-between;
}

/*Edit design of tweet button*/
.tweetbutton{
  font-family: "Bungee", sans-serif;
  color: #ffffff;
  background-color: #4056A1;
}

/*When negative, counter = red, bold*/
.countIsNegative {
  font-weight: bold;
  color: #ff0000;
}

.new-tweet .counter.red {
  color: red;
}

/*Main container for tweet*/
#containertweet {
  margin: auto;
  margin-top: 50px;
  max-width: 1000px;
  padding-bottom: 20px
}

/*Border for the tweet box*/
.bordertweet {
  border: solid;
}

/*Container for username, photo, name for tweet*/
.headertweet {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  height: 80px;
  background-color:  #f4f1ec;
  margin-top: 5px;
}

/*Space between photo & user name*/
.headeruserphoto {
  margin-left: 20px;
}

/*Username font*/
.headername{
  margin-left: 10px;
  font-family: 'Source Sans Pro';
}

/*Username font, placement*/
.headerusername{
  width: 100%;
  margin: 20px; 
  margin-left: 20px;
  display: flex;
  justify-content: flex-end;
  color: #A9A9A9; 
  font-family: 'Source Sans Pro';
}

/*Tweet placement, font*/
.tweetsentence {
  border-bottom: solid;
  padding-bottom: 30px;
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
  word-break: break-all;
}

/*Container for tweet time & icons*/
.footertweet {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: 20px;
  margin-top: 0px;
}

/*Hovering over icon = orange*/
.btn:hover {
  color: orange;
}

/*Mouse hovering over tweet container*/
.bordertweet:hover {
  box-shadow: 5px 10px grey;
}

/*Error message when user inputs wrong data*/
.errormessage{
  color: red;
  align-items: center; 
}