/*Adding responsive design for desktop mode*/
@media only screen and (min-width: 1024px) {
  /*Changing main container*/
  main{
   width: 50%;
   margin-top: 160px; 
 }
 
 /*Changes for 'avatar and user' block*/
 .user{
     display: flex;
     width: 30%;
     height: 400px;
     margin: auto;
     margin-top: 200px;
 }
 
 /*Changes for body*/
 body{
   display: flex;
 }
}

/* Tablet Styles */
@media only screen and (min-width: 768px) {
  .feature {
    width: 33.3%;
    line-height: 600px;
  }
  
  .content {
    width: 66.7%;
    float: right
  }

  .footer {
    clear: right;
  }
}

/* Desktop styles */

@media (max-width: 1028px) {
  nav {
  background-color: #b35fa6;;
}
}

@media only screen and (min-width: 1024px) {
  .hero {
    width: 33.3%;
    float: left;
  }

  .feature {
    line-height: 300px;
  }

  .menu {
    background-color: #111111;
    color: #f0f0f0;
    text-align: left;
  }

  .tagline {
    display: inline;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    color: tomato;
    float: right;
  }

  .main {
    max-width: 1024px;
    font-size: 16px;
    margin: 0 auto;
  }
}
