/*Adding responsive design for desktop mode*/
@media only screen and (min-width: 1024px) {
  /*Changing main container*/
  main{
   width: 50%;
   margin-top: 160px; 
 }
 
 /*Changes for 'avatar and user' block*/
 .user{
     display: flex;
     width: 30%;
     height: 400px;
     margin: auto;
     margin-top: 200px;
 }
 
 /*Changes for body*/
 body{
   display: flex;
 }
}